@use "../../../styles/abstracts/variables" as *;

.svg {
    display: block;
}

.line {
    fill: none;
    stroke: #16a085; // можно заменить на $primary-color
}

.area {
    fill: rgba(22, 160, 133, 0.15);
}