.header {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 12px 20px;
  background: #1f1f1f;
  color: white;
  font-family: 'Arial', sans-serif;
  height: 80px;
  position: relative;
  z-index: 1000;
}

.logoLink {
  text-decoration: none;
  flex-shrink: 0;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  font-style: italic;
}

.logoImg {
  height: 32px;
  width: 32px;
}

.iconImg {
  height: 24px;
  width: 24px;
}


// Навигация
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c3c3c;
  border-radius: 8px;
  
}

.navItem {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 20px;
  border-radius: 8px;
  transition: all 0.2s;

  &.active,
  &.active:hover {
    color: rgb(255, 255, 255);
    background: rgb(65, 125, 255);
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.navText {
  @media (max-width: 768px) {
    display: none;
  }
}

.logoText {
  @media (max-width: 1024px) {
    display: none;
  }
}

// Правая часть
.rightSection {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.balance {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;

  .currency {
    color: #aaa;
    font-size: 10px;
  }

  .amount {
    color: white;
  }
}

.depositBtn {
  background: #00d25b;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #00b349;
  }
}

.profileBtn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3c3c3c;
  border-radius: 8px;
  transition: 0.2s;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

// Адаптив: скрываем всё, кроме иконок и лого
@media (max-width: 768px) {

}