@use '../styles/abstracts/variables' as *;

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding: 24px;
  background: #f4f4f4;
}

/* ЕДИНЫЙ контейнер */
.container {
  max-width: $breakpoint-xl;
  width: 100%;
  margin: auto;
  padding: $space-sm;
}

/* HEADER */
.header {
  width: 100%;
  background-color: $color-dark-1;
  min-height: 72px;
  display: flex;
  align-items: center;
}

.headerInner {
  @extend .container;
  /* <-- одинаковая ширина */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: $space-md;
  min-height: 72px;

  .logoBox {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: $space-xs;
    margin-right: $space-lg;
    cursor: pointer;

    .logo {
      width: 32px;
      height: 32px;
      color: $color-yellow-1;
    }

    span {
      color: $text-color-inverse;
    }
  }

  .burger {
    display: none;
    background: none;
    border: none;
    color: $color-white;
    cursor: pointer;
  }

  .navigate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $space-lg;
    font-size: $font-size-lg;
    font-weight: bold;

    .item {
      padding: $space-sm;
      color: $text-color-inverse;
      cursor: pointer;

      transition: color .2s ease-out;

      &:hover,
      &.active {
        color: $color-yellow-1;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
    align-items: flex-start;

    .navigate {
      width: 100%;

      .item:first-child {
        padding-left: 0;
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    flex-direction: row;
    align-items: center;

    .burger {
      display: block;
    }

    .navigate {
      position: absolute;
      z-index: 100;
      top: 72px;
      right: 0;
      flex-direction: column;
      background: $color-grey-1;
      padding: $space-xs;
      gap: $space-xs;
      width: 200px;

      opacity: 0;
      transform: translateX(20px);
      pointer-events: none;
      transition: all 0.3s ease;

      .item {
        color: $secondary-color;
        transition: color 0.2s ease;

        &:hover,
        &.active {
          color: $color-yellow-2;
        }
      }

      &.open {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }
    }
  }

}

/* CONTENT */
.content {
  @extend .container;
  /* <-- одинаковая ширина */
  flex: 1;
  margin-top: $space-md;
  margin-bottom: 50px;
}

/* FOOTER */
.footer {
  width: 100%;
  background-color: $color-grey-1;
}

.footerInner {
  @extend .container;
  /* <-- одинаковая ширина */
  padding: 0;
  display: grid;
  grid-template-columns: auto 380px;
  gap: $space-lg;


  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: $space-lg;
    padding: $space-lg $space-sm;
    color: $color-grey-3;

    .info {
      h2 {
        text-transform: uppercase;
        margin-bottom: $space-lg;
      }

      p {
        margin-top: $space-xs;
      }

      a {
        font-weight: bold;
        color: $color-yellow-1;
        text-decoration: none;
        transition: color .2s ease-out;

        &:hover {
          color: $color-yellow-2;
        }
      }
    }

  }


  .contacts {
    background-color: $primary-color;
    padding: $space-lg;
    color: $text-color-inverse;

    h4 {
      font-size: $font-size-xl;
      text-transform: uppercase;
      padding-bottom: $space-xs;
      border-bottom: 2px solid $color-white;
    }

    ul {
      padding: $space-sm $space-lg;
      display: flex;
      flex-direction: column;
      gap: $space-xs;
    }

    a {
      color: $text-color-inverse;
      text-decoration: none;
      font-size: $font-size-lg;
      transition: color .2s ease-out;

      &:hover {
        color: $color-yellow-1;
      }
    }

    p {
      text-transform: uppercase;
      text-align: right;
      font-weight: bold;
    }
  }

  @media (max-width: $breakpoint-md) {
    display: flex;
    flex-direction: column;
    gap: 0;

    .contacts {
      padding: $space-lg $space-sm;
    }
  }
}